.uiClass{
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 20%;
  padding: 10px;
  background-color:#2E74B5;
  color:white;
  font-size:1vw;
  }

  .uiHiddenClass{
    display: none;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20%;
    padding: 10px;
    background-color:#092c74;
    color:white;
    font-size:1vw;
    }

  .menuHidden{
    display: none;
  }

.zoomButtonsClass{
  position: fixed;
  top: 10px;
  left: 5px;
  padding: 5px;
  z-index: 10;
  color:white;
  border-style: solid;
  border-width: thin;
  font-size:1vw;
}

#openMenuIcon{
  position: absolute;
  top: 15px;
  right: 5px;
}

#closeMenuIcon{
  position: absolute;
  top: 5px;
  right: 5px;
}

button{
  margin-bottom:2vh;
  font-size:1.2vw;
}

select{
  margin-bottom:2vh;
  font-size:1.2vw;
}

a{
  color:white;
  font-size:1vw;
}

ul, ol, button, select{
    font-size:1vw;
  }

h4{
  font-size:1vw;
  padding: 0;
  margin:0;
}
