body{
  overflow: hidden;
  border: 0px;
}

.mainWindow{
  display: block;
  width: 100vw;
  height: 100vh;
}
#mainSvg{
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 10px;
  font-size: small;
}

.uiClass{
    position: fixed;
    top: 10px;
    width: 20%;
    right: 1%;
    z-index: 10;
    /* display: inline-block; */
    background-color:#2e4b61;
    color:white;
    border-style: solid;
    border-width: thin;
    font-size:1.2vw;
    padding: 4px;
  }
  .uiSubDiv{
    background-color:#505050; padding:10px;
  }
  h4{
    text-align: center;
    padding: 5px;
    margin:0;
  }
  .problemDescription{
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 10;
  }

  .uiButton{
    /* position: fixed; */
    /* left: 20px; */
    /* padding-top: 5px; */
    font-size:1.2vw;
  }
