body{
  overflow: hidden;
  border: 0px;/*
  padding: 1px;
  margin: 0px;*/
}

.menu{
  background-color: white;
  position:fixed;
  top: 0px;
  right: 0px;
  max-width: 15%;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0px;
  color: white;
  font-family: "Arial", Times, serif;
  font-size: .6em;
}

.select-css {
  top: 0px;
  left: 0px;
    display:inline-block;
    font-size: .9em;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
}



.slider {
  position : relative;
  margin: auto;
  width: 98%;
}

.partData{
  display: block;
  background-color: white;
  overflow-y: auto;
  position:fixed;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  top: 0px;
  left: 0px;
  width: 18%;
  height: 99%;
  padding: 10px;
  color: black;
  font-family: "Arial", Times, serif;
  font-size: medium;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.mainWindow{
  display: block;
  left: 100%
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 10px;
  font-size: small;
}
